<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Flask Note</title>
</head>
<body>

<div class="form-box">
<h1> Flask Note</h1>

    <div class="input-box">
        <i class="fa fa-envelope"></i>
        <input type="email" placeholder="E-mail address"> <br>
    </div>

    <div class="input-box">
        <i class="fa fa-key"></i>
        <input type="password" placeholder="Enter your password">
    <span class="eye">
    <i id="hide1" class="fa fa-eye"></i>
    <i id="hide2" class="fa fa-eye-slash"></i>
        </span>
    </div>
    <form action="login.html" method="post">
        <a href="/note"><button type="button" class="login-btn">LOGIN</button></a>
        <button type="reset" class="login-btn">RESET</button>
    </form>
</div>

</body>
</html>